body {
    padding: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1 1 auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
