
{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'displaycategory' %}" method="POST">
    {% csrf_token %}
    <label for="category">Select category</label>
    <select id="category" name="category">
    {% for cat in category %}
    
    <option value="{{cat}}">{{cat}}</option>
    {% endfor %}
    </select>
    <button class="btn btn-success" type="submit">Select</button>
</form>

    <h2 class="my-3">Active Listings</h2>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-4 my-3">
                    <div class="card h-100">
                   class="btn btn-danger">Remove from watchlist</button>      <img class="card-img-top" src="{{ listing.imageurl }}" alt="{{ listing.title }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary mt-auto">View Listing</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
