
{% extends "auctions/layout.html" %}

{% block body %}
<div class="row mx-3">
    {% if user.is_authenticated %}
        {% if iswatch %}
          <form action="{% url 'removewatchlist' id=listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove watchlist</button>
          </form>
          {% else %}
                  <form action="{% url 'addwatchlist' id=listing.id%}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add watchlist</button>
          <h1>Add</h1>
        {% endif %}
    {% endif %}
  </div>
<h2>{{listing.title}}</h2>
<img src="{{listing.imageurl}}" alt="{{listing.title}}" height="400px" width="600px">
<p class="card-text">{{listing.description}}</p>
<p>Owner :{{ listing.owner}}</p>
<h4>${{listing.price}}</h4>

<div class="row mx-3">
  <h2>comment</h2>
  {% if user.is_authenticated %}
  <form action="{% url 'addcomment' id=listing.id %}" method="POST">
    <input type="text" name="newcomment" placeholder="add comment">

  </form>
  {% endif %}
</div>
{% endblock %}